* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

.App {
  max-width: 550px;
  margin: 30px auto;
}

.Header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  align-items: center;
  color: #ffffff;
  padding: 20px;
}

.Header .troll-img {
  height: 26px;
  margin-right: 7px;
}

.Header .title {
  display: flex;
}

.Header h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: -0.1em;
  margin: 0;
}

.Header .project-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 15px;
}
