* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background: #e5e5e5;
}

.App {
  max-width: 550px;
  margin: 30px auto;
  background: #ffffff;
}

.Header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  align-items: center;
  color: #ffffff;
  padding: 20px;
}

.Header .troll-img {
  height: 26px;
  margin-right: 7px;
}

.Header .title {
  display: flex;
}

.Header h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: -10%;
  margin: 0;
}

.Header .project-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 15px;
}

.Meme {
  padding: 36px;
  margin: 0 auto;
}

.Meme .btn {
  width: 100%;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -10%;
  color: #ffffff;
  padding: 10px 0;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.Meme input {
  width: 230px;
  max-width: 100%;
  margin-right: 9px;
  margin-bottom: 15px;
  font-size: 0.75rem;
  line-height: 14px;
  color: #0d0d0d;
  text-indent: 11px;
  padding: 10px 0;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  font-family: inherit;
}

.Meme .memeImg {
  max-width: 100%;
  border-radius: 2px;
  margin: 36px 0 15px;
}

.Meme .meme-section {
  position: relative;
}

.Meme .meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 35px 0;
  font-family: Impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 0px 0px 20px #aaaaaa;
}

.top-text {
  top: 0;
}

.bottom-text {
  bottom: -10px;
}
